@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Thasadith:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

.view {
    margin-bottom: 5em;
    position: absolute;
    width: 100%;
    height: 0;
}

.background {
    background: linear-gradient(288.06deg, #EF007D 0%, #B429A3 37.5%, #159EE6 94.79%);
    border-radius: 10px;
    transition: 1s;
}

.background:hover {
    box-shadow: 0px 7px 27px -7px rgba(0,0,0,0.28);
}

a {
    text-decoration: none;
}

a.background {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Thasadith', sans-serif;
    padding: 0.3em 1.5em;
    transition: 0.5s;
    font-weight: bold;
}

a.background:hover {
    padding: 0.3em 2em;
}

.space-top {
    margin-top: 10em;
}

h1 {
    color: black;
    font-family: 'Thasadith', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    color: black;
    font-family: 'Thasadith', sans-serif;
    font-size: 2.25em;
    font-weight: bold;
}

p {
    color: black;
    font-family: 'Thasadith', sans-serif;
    font-size: 1.5em;
}

::selection {
    background: none;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, input::selection, textarea::selection {
    background: none;
    color: #EF007D;
}

::-webkit-scrollbar {
    display: none;
}

.contact-btn {
    cursor: pointer;
}

.watermark {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.35;
    filter: grayscale(1);
    z-index: 999;
    pointer-events: none;
}

/***********/
/* PAGE UP */
/***********/

#page-up {
    position: fixed;
    right: 4em;
    bottom: 6em;
    z-index: 9999;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.4));
    cursor: pointer;
    opacity: 0;
    transition: 0.8s, opacity 0.2s;
}

#page-up img {
    transition: 0.4s;
}

#page-up:hover img {
    transform: scale(1.1);
}

/***************/
/* NAVIGATIONS */
/***************/

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    margin-top: 2em;
}

.main-navigation .list, footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main-navigation .list a {
    margin: 0 1.2em;
}

.main-navigation .list a:last-of-type {
    margin-right: 0;
}

.main-navigation .list a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Thasadith', sans-serif;
    cursor: pointer;
}

.main-navigation .list a.background {
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.main-navigation .list a.background:hover {
    padding: 0.3em 1.5em;
}

.main-navigation .list a:hover:not(.background) {
    color: #EF007D;
    transition: 0.2s;
}

.main-navigation .list a:last-child {
    width: 8em;
    text-align: center;
}

.main-navigation .animated-logo {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'brightness\'><feColorMatrix type=\'matrix\' values=\'1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0\'/></filter></svg>#brightness");
    -webkit-filter:brightness(108.5%);
}

/**********/
/* FOOTER */
/**********/

footer {
    padding-top: 10em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    margin-bottom: 5em;
}

footer ul li {
    margin: 0 2em;
}

footer ul li a {
    font-family: "Thasadith", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: black;
    text-decoration: none;
}

footer ul li a.active {
    color: #EF007D;
    font-weight: bold;
}

footer ul li:hover a:not(.background) {
    color: #EF007D;
    transition: 0.2s;
}

footer #drop3 {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 999;
}

/**************/
/* CONTAINERS */
/**************/

section, .section {
    padding: 0 12%;
}

.two-sides-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two-sides-container .left, .two-sides-container .right {
    width: 50%;
    height: auto;
    text-align: left;
}

.two-sides-container .right {
    text-align: right;
}

.hidden {
    display: none;
}

/***************/
/* LEGAL PAGES */
/***************/

.legal {
    margin-top: 5em;
}

.legal h1 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 52px;
    color: black;
}

.legal h2 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 1.875em;
    line-height: 39px;
    color: black;
    margin-top: 1.5em;
}

.legal h3 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 1.5625em;
    line-height: 32px;
    color: black;
    margin-top: 1em;
}

.legal h4 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 2.188em;
    line-height: 45px;
    color: black;
    margin-top: 1.5em;
}

.legal h5 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 21px;
    color: black;
    margin-top: 1em;
}

.legal h6 {
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    font-size: 1.5625em;
    line-height: 32px;
    color: #9C9C9C;
    margin-top: 1em;
}

.legal p {
    margin-top: 0.3em;
}

.legal p a {
    color: black;
    font-weight: bold;
}

.legal ul {
    margin-left: 1.3em;
    list-style-image: url("../media/bullet.png");
}

.legal ul li {
    padding-left: 1.5em;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width:1000px) {
    .main-navigation {
        flex-direction: column;
        margin-bottom: 4em;
    }

    .main-navigation .animated-logo {
        margin-bottom: 2em;
    }

    #page-up {
        right: 1em;
        bottom: 2em;
    }

    #page-up:hover img {
        transform: scale(1);
    }

    #drop3 {
        display: none;
    }
}

@media (max-width:730px) {
    section, .section {
        padding: 0 6%;
    }

    .main-navigation {
        margin-bottom: 0;
    }

    .main-navigation .list {
        flex-direction: column;
        width: 100%;
    }

    .main-navigation .list a:not(.background) {
        margin: 0.5em 0;
        width: 100%;
        background: rgba(0,0,0,0.025);
        box-shadow: rgba(0,0,0,0.1) 1px 2px 3px;
        border-radius: 30px;
        text-align: center;
        padding: 0.5em 0;
    }

    .main-navigation .list a {
        font-size: 1.5em;
    }

    .main-navigation .list a:last-of-type {
        width: 100%;
        margin: 1em 0 0;
    }

    .main-navigation .animated-logo {
        margin: 0 0 2em 0;
    }

    .background:hover {
        box-shadow: inherit;
    }

    .main-navigation a.background:hover {
        padding: 0.3em 1.5em;
    }
}

@media (max-width:500px) {
    footer {
        padding: 0;
    }

    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}