/********/
/* HOME */
/********/
#home {
    height: 100vh;
    position: relative;
}

#heading {
    height: 80%;
}

#heading p {
    margin-top: 1em;
    margin-bottom: 5em;
    width: 70%;
}

.contact-btn {
    cursor: pointer;
}

#heading #misi-animation {
    width: 100%;
    height: auto;
    min-width: 699px;
    min-height: 515px;
    max-width: 901px;
    max-height: 664px;
}

#scroll-down {
    position: absolute;
    bottom: 7.5em;
    left: 50%;
    transform: translateX(-50%);
    animation: scrolldownAnimation 2s ease-in-out infinite;
    cursor: pointer;
}

/************/
/* SERVICES */
/************/

#services {
    background: #f8f8f8;
    padding-top: 4em;
    padding-bottom: 4em;
}

#services h2, #services p {
    text-align: center;
}

#services p {
    margin: 0.8em 0;
    width: 100%;
}

.services-selector {
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-selector-box {
    width: 14.75em;
    height: 5.063em;
    border: 1px solid #EF007D;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.services-selector-box h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.375em;
    background: -webkit-linear-gradient(288.92deg, #EF007D 0%, #B429A3 52.57%, #159EE6 98.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 87.2%;
    transition: 0.5s;
}

.services-selector-box.active {
    background: linear-gradient(288.92deg, #EF007D 0%, #B429A3 52.57%, #159EE6 98.96%);
    border: 1px solid #FFFFFF;
}

.services-selector-box.active h3 {
    background: none;
    -webkit-text-fill-color: white;
}

.services-selector-box:hover {
    width: 16em;
}

.services-infobox {
    margin: 4em 0 0;
    display: flex;
    width: 100%;
}

.services-infobox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.services-infobox-left {
    display: flex;
    align-items: center;
    width: 80%;
}

.services-infobox-left, .services-infobox-right {
    height: 100%;
}

.services-infobox-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5em;
    width: 100%;
}

.services-infobox div:not(".hidden") {
    display: flex;
    flex-wrap: wrap;
}

.services-infobox h2 {
    font-size: 2.25em;
    width: 100%;
}

#services .services-infobox h2 {
    text-align: left;
}

.services-infobox img {
    height: 100%;
}

#services-infobox-image {
    transition: 0.5s ease-in-out;
}

#services .services-infobox p {
    text-align: left;
    margin: 0 0 0.5em;
}

.services-infobox ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.services-infobox .button {
    margin-bottom: 1em;
}

.services-infobox ul li {
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;
}

.services-infobox ul li p {
    font-weight: bold;
}

.services-infobox a.background {
    padding: 0.5em 2em;
    border: 1px solid #EF007D;
    background: -webkit-linear-gradient(288.92deg, #EF007D 0%, #B429A3 52.57%, #159EE6 98.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: grayscale(1);
}

.services-infobox a.background:hover {
    padding: 0.5em 2.5em;
    box-shadow: none;
    filter: grayscale(0);
}

.services-infobox ul li:before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url("../media/checkmark.png");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none;
    animation: services-swipe-end 2s ease-in-out 2s 1 forwards;
}

/*************/
/* PORTFOLIO */
/*************/

#portfolio {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 6em;
}

#portfolio h2, #portfolio p {
    text-align: center;
}

#portfolio p {
    margin: 0.8em 0 2em;
}

#portfolio #drop1 {
    position: absolute;
    left: 0;
    bottom: -10em;
    pointer-events: none;
    z-index: 999;
}

#portfolio #drop2 {
    position: absolute;
    right: 0;
    top: 5em;
    pointer-events: none;
    z-index: 999;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-element-parent {
    height: 371px;
    width: 730px;
    margin: 2em 1em;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 44px -25px rgba(0,0,0,0.33);
}

.portfolio-element {
    background: white no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition: 0.5s;
}

.portfolio-element-parent:hover .portfolio-element {
    transform: scale(1.1);
}

#portfolio-inpixel {
    background: url("../media/portfolio-inpixel.png");
    background-size: cover;
}

#portfolio-rostality {
    background: url("../media/portfolio-rostality.png");
    background-size: cover;
}

#portfolio-something {
    background: url("../media/portfolio-something.png");
    background-size: cover;
}

#portfolio-stombay {
    background: url("../media/portfolio-stombay.png");
    background-size: cover;
}

/************/
/* FEEDBACK */
/************/

#feedback {
    position: relative;
    background: #f8f8f8;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-top: 6em;
}

#feedback h2 {
    text-align: center;
    margin-bottom: 1em;
}

.feedback-wrapper {
    width: 80%;
    margin: auto;
}

.feedback-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}

.feedback-element {
    box-shadow: 0px 0px 44px -25px rgba(0,0,0,0.33);
    width: 325px;
    height: 313px;
    border-radius: 30px;
    background: white;
    margin: 2em;
}

#feedback-trustpilot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trustpilot-widget-wrapper {
    height: 10em;
    width: auto;
}

.trustpilot-description {
    width: 50%;
    margin-left: 2.5em;
}

/***********/
/* CONTACT */
/***********/

#contact {
    position: relative;
    margin-top: 6em;
}

#contact h2, #contact p {
    text-align: center;
}

#contact p {
    margin: 0.8em 0;
}

#contact-form {
    width: 60em;
    display: flex;
    justify-content: center;
    margin: auto;
}

#contact-form form {
    width: 100%;
}

#contact-form .contact-form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

#contact-form input {
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    font-size: 1.8em;
    font-family: "Thasadith", sans-serif;
}

#contact-form .space-sides {
    padding: 0.8em 4em 0.8em 0.8em;
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
}

#contact-form input:placeholder-shown, #contact-form textarea:placeholder-shown {
    font-size: 1.8em;
}

#contact-form input::placeholder, #contact-form textarea::placeholder {
    color: #BDBDBD;
    font-family: "Alegreya Sans SC", sans-serif;
}

#contact-form label.contact-message {
    width: 100%;
}

#contact-form textarea {
    padding: 0.8em;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    font-size: 1.8em;
    font-family: "Thasadith", sans-serif;
    resize: none;
    width: 100%;
    height: 10em;
}

#contact-form label {
    color: white;
}

#contact-form .contact-form-button {
    justify-content: center;
    position: relative;
}

#contact-form .contact-form-button input {
    height: 3em;
    cursor: pointer;
    background: none;
    border: 1px solid #EF007D;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(288.92deg, #EF007D 0%, #B429A3 52.57%, #159EE6 98.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: grayscale(1);
    transition: all 0.25s ease;
    outline: none;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-form .contact-form-button input:hover {
    filter: grayscale(0);
}

#contact-form input.invalid, #contact-form textarea.invalid {
    border: 1px solid red;
}

#contact-form input.valid, #contact-form textarea.valid {
    border: 1px solid lawngreen;
}

.contact-form-button img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    opacity: 0;
    pointer-events: none;
}

.contact-form-button #contact-submit-checkmark {
    transition: 1s;
}

.contact-form-button img.sending, .contact-form-button img.sending-icon {
    opacity: 1;
}

/**************/
/* ANIMATIONS */
/**************/

.fade-out {
    animation: fade-out 0.3s forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    0% {
        display: flex;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.sending input {
    animation: sending 5.5s cubic-bezier(.45,.4,0,1.27);
}

@keyframes sending {
    0% {
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 10px;
    }

    40% {
        padding-left: 0;
        padding-right: 0;
        border-radius: 50px;
        background: #38D464;
        border: none;
        filter: grayscale(0);
    }

    60% {
        padding-left: 0;
        padding-right: 0;
        border-radius: 50px;
        background: #38D464;
        border: none;
        filter: grayscale(0);
    }

    100% {
        padding-left: 10%;
        padding-right: 10%;
        border-radius: 10px;
    }
}

.sending-icon {
    opacity: 1;
    animation: sending-icon 1s cubic-bezier(.65,.09,.67,.87) forwards;
}

@keyframes sending-icon {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(1.5);
    }

    50% {
        transform: translateX(-50%) translateY(-50%) scale(1.5);
    }

    100% {
        transform: translateX(4em) translateY(-6em) scale(1.5);
    }
}

@keyframes scrolldownAnimation {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(1em);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width:1600px) {
    #heading.section {
        padding: 0 6%;
    }

    #services {
        padding: 2em 6%;
    }
}

@media (max-width:1524px) {
    .portfolio-element-parent.soon {
        display: none;
    }
}

@media (max-width:1400px) {
    #home {
        height: 80vh;
    }

    #heading {
        margin-top: 5em;
    }

    #heading.two-sides-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #heading.two-sides-container .left, #heading.two-sides-container .right {
        width: 100%;
        text-align: center;
    }

    #heading.two-sides-container .right {
        margin-bottom: 2em;
    }

    #heading #misi-animation {
        min-width: 0;
        min-height: 0;
        max-width: 496px;
        max-height: 365px;
    }

    #heading p {
        text-align: justify;
        width: 50%;
        margin: 1em auto 2em;
    }

    #scroll-down {
        display: none;
    }

    .services-infobox-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .services-infobox img {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

    .services-infobox-left {
        width: 100%;
        height: 40%;
    }

    .services-infobox-right {
        height: auto;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
    }

    #services .services-infobox h2 {
        text-align: center;
        margin-bottom: 1em;
    }

    #services .services-infobox p {
        text-align: justify;
        width: 80%;
    }

    .services-infobox ul {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 2em 0;
    }

    .services-infobox ul li {
        width: 100%;
    }

    #services .services-infobox ul li p {
        text-align: left;
    }

    .services-infobox .button {
        width: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

    .services-infobox .button a {
        width: 100%;
        text-align: center;
        border: none;
        background: -webkit-linear-gradient(288.92deg, #EF007D 0%, #B429A3 52.57%, #159EE6 98.96%) no-repeat;
        background-size: cover;
        -webkit-text-fill-color: white;
        filter: none;
    }

    #portfolio p {
        text-align: justify;
        width: 80%;
        margin: 1em auto;
    }

    #feedback {
        padding: 4em 0;
    }
}

@media (max-width: 1400px) and (min-height: 800px) {
    #home {
        height: 100vh;
    }
}

@media (max-width: 1400px) and (min-height: 1200px) {
    #home {
        height: 70vh;
    }
}

@media (max-width:1200px) {
    .feedback-grid {
        flex-wrap: wrap;
    }

    #contact {
        padding: 0;
    }
}

@media (max-width:1000px) {
    #heading p {
        width: 80%;
    }

    #portfolio #drop1 {
        width: 92px;
        height: 222px;
    }

    #portfolio #drop2 {
        width: 110px;
        height: 221px;
        top: 10em;
    }

    #feedback-trustpilot {
        flex-wrap: wrap;
    }

    .trustpilot-description {
        width: 100%;
    }

    .trustpilot-widget-wrapper {
        margin: 4em auto 0;
    }

    #contact-form {
        width: 90%;
    }

    #contact-form label {
        width: 100%;
    }

    #contact-form .contact-form-row {
        flex-wrap: wrap;
        margin: 0;
    }

    #contact-form input {
        width: 100%;
        margin-bottom: 1em;
    }

    #contact-form .contact-form-row #contact-submit {
        margin-top: 2em;
    }
}

@media (max-width:730px) {
    #home {
        height: 100vh;
    }

    #heading {
        margin-top: 1em;
        height: 70%;
    }

    #heading h1 {
        font-size: 2em;
    }

    #heading h2 {
        font-size: 1.6em;
    }

    #heading p {
        text-align: justify;
    }

    .services-infobox-left {
        display: none;
    }

    .services-selector-box {
        margin: 0 0.5em;
    }

    #portfolio h2 {
        font-size: 1.8em;
    }

    .portfolio-element-parent {
        width: 80%;
        height: 200px;
    }

    #drop1, #drop2 {
        display: none;
    }

    .trustpilot-description {
        text-align: justify;
        margin: 0;
    }

    #feedback h2 {
        font-size: 1.8em;
    }

    .trustpilot-description {
        margin: 0 2em;
    }

    #contact p {
        text-align: justify;
        margin: 1em;
    }
}

@media (max-width:500px) {
    #home {
        height: 160vh;
    }

    .services-selector {
        flex-wrap: wrap;
    }

    .services-selector-box {
        width: 100%;
        margin: 1em 0;
    }

    .services-infobox ul {
        width: 80%;
        margin-bottom: 0;
    }

    .services-infobox a.background:hover {
        padding: 0;
        box-shadow: none;
        filter: none;
    }

    .feedback-wrapper {
        width: 100%;
    }
}

@media (max-width: 380px) {
    #home {
        height: 190vh;
    }
}

@media (max-width:350px) {
    #home {
        height: 220vh;
    }
}

@media (max-width: 380px) and (min-height: 812px) {
    #home {
        height: 160vh;
    }
}

@media (max-height: 850px) {
    #scroll-down {
        bottom: 4em;
    }
}